
@use 'app/styles/variables' as *;

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: transparent;
    border: 2px black solid;
}

button{
    background-color: transparent;
    border: solid 2px $details1-light;
    color: $details1-light;
    cursor: pointer;
    font-size: 20px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    text-decoration: none;
    color: black;
}
