<header>
    <div class="nombre">
        <h1>Víctor Delgado Batista</h1>
        <h2>Software Developer</h2>
        <div class="links">
            <img width="50" height="50" src="https://img.icons8.com/sf-ultralight-filled/50/FFFFFF/github.png" alt="github"/>
            <img width="50" height="50" src="https://img.icons8.com/sf-ultralight-filled/50/FFFFFF/linkedin.png" alt="linkedin"/>
            <img width="50" height="50" src="https://img.icons8.com/sf-ultralight-filled/50/FFFFFF/secured-letter.png" alt="secured-letter"/>
        </div>
    </div> 
    <nav class="nav">
        <a routerLink="/sobremi" routerLinkActive="active">Sobre Mi</a>
        <a routerLink="/experiencia" routerLinkActive="active">Experiencia</a>
        <a routerLink="/estudios" routerLinkActive="active">Estudios</a>
        <a routerLink="/proyectos" routerLinkActive="active">Proyectos</a>
        <a routerLink="/posts" routerLinkActive="active">Posts</a>
    </nav>
</header>
