header
{
    display: flex;
    padding:5%;
}

.nombre
{
    align-items: center;
    text-align: center;
}
.links>*
{
    transition: 0.2s;
}

.links> *:hover
{
    transform: scale(1.1);
    filter:brightness(1.8);
    cursor: pointer;
}

nav
{
    display: flex;
    font-size: 25px;
    width: 57%;
    height: min-content;
    gap: 5%;
    margin-left: 5%;
}

nav a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-style: italic ;
    font-weight: bolder;
    transition: 0.2s;
}

nav a:hover
{
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}

nav a.active
{
    border-bottom:solid white 1px;
}

nav a.inactive{
    filter: brightness(0.8);
}