html, body {
    height: 100%;
    margin: 0;
    
}

body {

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    font-family: system-ui;
    background-color:#0D0D0D;
    color:whitesmoke;
}
