/*Paleta de colores*/

// /* Modo claro */
// $background-light: #F2F2F2;
// $secondary-light: #243340;
// $details1-light: #F25050;
// $details2-light: #A64444;
// $details3-light: #C1D4D9;

/*Modo oscuro*/
$background: #252526;
$secondary: #585859;
$details1: #AAB9BF;
$details2: #C1D4D9;
$details3: #DCEEF2;
