/* You can add global styles to this file, and also import other style files */
body
{
    color: #FFFFFF;
    font-family: system-ui;
    background: linear-gradient(135deg, #00000080 50%, transparent 0),linear-gradient(-135deg, #00000080 50%, transparent 0);
    background-size: 3em 3em;
    background-color: #185638;
    opacity: 1
}