<div class="aboutme">

    <h2>Sobre mi</h2>
    <p>Soy un <strong>desarrollador Full-Stack </strong>apasionado por la informática y la creación de aplicaciones web innovadoras. 
        Me encanta enfrentar desafíos complejos y profundizar en cada tecnología para ofrecer soluciones eficientes y creativas. 
        Con formación como <strong>Técnico en Desarrollo de Aplicaciones  Web</strong> y <strong>Técnico en Sistemas Microinformáticos y Redes </strong>, mi enfoque está en aprender continuamente e implementar prácticas modernas de desarrollo.
    </p>
</div>
