<div class="projects">

    <div class="projects-header">
        <h1>Proyectos</h1>
    </div>
    <div *ngFor="let proj of projects" class="project-item">
        <div class="project-item-header">
            <a [href]="proj.url" target="_blank" rel="noopener noreferrer">
              <h4>{{ proj.name }} <i class="bi bi-arrow-up-right"></i></h4>
            </a>
          </div>
        

        <div class="details">
            <img [src]="proj.img" alt="project photo" class="project-image">
            <p [innerHTML]="proj.description"></p>
        </div>
      <div class="utilitys">
          <p *ngFor="let utility of proj.utilities">{{ utility }}</p>
        </div>
      </div>


</div>