/* You can add global styles to this file, and also import other style files */
@use 'app/styles/variables' as *;

body {
    background-color: $background-light;
    align-items: center;
    color: $details1-light;
}
